ul {
  font-size: 40px;
}

.typedWord {
  color: red;
}

canvas {
  background-color: #313f47;
  margin: auto;
}

#debug {
  position: fixed;
  top: 0;
  right: 20px;
  padding: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
